*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
}

.headings {

  color : navy;
  text-align: center;
  text-transform: capitalize;
  margin: 250px;
  font-family: 'Kumbh Sans', sans-serif;
} 





/* .image1 {
  width: 300;
  height: 300;
  box-shadow: burlywood;
  display: flex;
  justify-content: space-around;
  box-shadow:  gray;
} */